<div id="upload-solution">
	<h3>Upload Solution</h3>
	<hr/>
	{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
		<div class="bg-light p-3 rounded">
			<p class="m-0">
				<a class="m-0 fs-6 text-primary" href="{{ path('app_login') }}">Log In</a>, in order to upload the solution
			</p>
		</div>
	{% else %}
		{{ form_start(form, {'action': path('app_solution_upload', { id: task.id }), 'method': 'POST'}) }}
		<div class="tabs">
			<div class="tabs-trigger">
				<a class="tabs-trigger__item active-trigger" href="#file-solution">File Solution</a>
				<a class="tabs-trigger__item" href="#text-solution">Text Solution</a>
			</div>
			<div class="tabs-content">
				<div id="file-solution" class="tabs-content__item active-tab">
					<div class="form-group">
						{{ form_widget(form.file_solution) }}
						<span>
							{{ form_errors(form.file_solution) }}
						</span>
					</div>
				</div>
				<div id="text-solution" class="tabs-content__item">
					<div class="form-group">
						{{ form_label(form.language) }}
						{{ form_widget(form.language) }}
						<span>
							{{ form_errors(form.language) }}
						</span>
					</div>
					<div class="form-group">
						{{ form_label(form.text_solution) }}
						{{ form_widget(form.text_solution) }}
						<span>
							{{ form_errors(form.text_solution) }}
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				{{ form_widget(form.save) }}
			</div>
			{{ form_errors(form) }}
			</div>
			{{ form_row(form._token) }}
		</div>
		{{ form_end(form) }}
	{% endif %}
</div>

{% block script %}
	{{ encore_entry_script_tags('tabs') }}
{% endblock %}
