{% extends 'base.html.twig' %}

{% block title %}
	Form
{% endblock %}

{% block body %}
<div class="wrapper">
	{% if task.isPublished %}
		{% include "_flash.html.twig" with { type: 'warning', 'message': 'You can\'t edit this task, because is published' } %}	
		{% endif %}
		{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}
			<span>
				{{ form_errors(form.name) }}
			</span>
		</div>

		<div class="form-group">
			{{ form_label(form.description) }}
			{{ form_widget(form.description) }}
			<span>
				{{ form_errors(form.description) }}
			</span>
		</div>

		<div class="form-group">
			{{ form_label(form.time_limit) }}
			{{ form_widget(form.time_limit) }}
			<span>
				{{ form_errors(form.time_limit) }}
			</span>
		</div>

		<div class="form-group">
			{{ form_label(form.memory_limit) }}
			{{ form_widget(form.memory_limit) }}
			<span>
				{{ form_errors(form.memory_limit) }}
			</span>
		</div>

		<div class="form-group">
			{{ form_label(form.example_input) }}
			{{ form_widget(form.example_input) }}
			<span>
				{{ form_errors(form.example_input) }}
			</span>
		</div>

		<div class="form-group">
			{{ form_label(form.example_output) }}
			{{ form_widget(form.example_output) }}
			<span>
				{{ form_errors(form.example_output) }}
			</span>
		</div>

		<div class="form-group">
			{{ form_label(form.restriction) }}
			{{ form_widget(form.restriction) }}
			<span>
				{{ form_errors(form.restriction) }}
			</span>
		</div>

		<div class="form-group">
			{{ form_label(form.published) }}
			{{ form_widget(form.published) }}
			<span>
				{{ form_errors(form.published) }}
			</span>
		</div>

		<div class="form-group">
			{{ form_widget(form.save) }}
		</div>
		{{ form_row(form._token) }}

		{{ form_errors(form) }}

		{{ form_end(form,{'render_rest':false}) }}
	</div>
{% endblock %}

{% block script %}
	<script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/classic/ckeditor.js"></script>
	<script src="/utils/ckeditor.js"></script>
	<script>
		const extraConfig = {
			toolbar: ['heading', '|'],
			heading: {
				options: [
					{ model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
				],
			},
		};

		ckEditor(document.querySelector("#task_description"));
		ckEditor(document.querySelector("#task_example_input"), extraConfig);
		ckEditor(document.querySelector("#task_example_output"), extraConfig);
	</script>
{% endblock %}
