{% extends 'base.html.twig' %}

{% block title %}
	{{ task.name }}
{% endblock %}

{% block body %}
	<div
		class="wrapper">
		{# Flash Messages #}
		{% for message in app.flashes('success') %}
			{% include "_flash.html.twig" with { type: 'success', message: message } %}
		{% endfor %}
		{# End Flash Messages #}
		<div class="task">
			<div class="task__field task__name">
				<h1>😃{{ task.name }}</h1>
			</div>

			<div class="task__field task__description">
				<h3>Description</h3><hr>
				<h7>{{ task.description | raw }}</h7>
			</div>

			<div class="task__field task__limits">
				<h3>Time And Memory Limit</h3><hr>
				<h7>Time Limit:
					{{ task.timeLimit }}, Memory Limit:
					{{ task.memoryLimit }}</h7>
			</div>

			<div class="task__field task__example">
				<h3>Example Input and Output</h3><hr>
				<h7>Example Input:
					{{ task.exampleInput }}, Example Output:
					{{ task.exampleOutput }}</h7>
			</div>

			<div class="task__field task__example">
				<h3>Author</h3><hr>
				<h7>{{ task.taskMeta.author }}</h7>
			</div>

			<div class="task__field task__example">
				<h3>Created</h3><hr>
				<h7>{{ task.taskMeta.createdAt | date("Y-m-d H:i:s") }}</h7>
			</div>

			<div class="task__field task__example">
				<h3>Input and Output files</h3><hr>
				{% for task in task.taskTests %}
					Input:
					{{ task.inputData}}
					| Output:
					{{ task.outputData }}<br>
				{% endfor %}
			</div</div>
		</div>
	{% endblock %}
