{% extends 'base.html.twig' %}

{% block title %}
    {{ task.name }}
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="task">
            <div class="task__field task__name">
                <h1>{{ task.name }}</h1>
            </div>

            <div class="task__field task__description">
                <h3>Description</h3><hr>
                <article>{{ task.description | raw }}</article>
            </div>

            <div class="task__field task__limits">
                <h3>Time And Memory Limit</h3><hr>
                <article>Time Limit:
                    {{ task.timeLimit }}, Memory Limit:
                    {{ task.memoryLimit }}</article>
            </div>

            <div class="task__field task__author">
                <h3>Author</h3><hr>
                <article>{{ task.taskMeta.author }}</article>
            </div>

            <div class="task__field task__created_at">
                <h3>Created</h3><hr>
                <article>{{ task.taskMeta.createdAt | date("Y-m-d H:i:s") }}</article>
            </div>

            <div class="task__field task__tests">
                <h3>Input and Output files</h3><hr>
                {% for task in task.taskTests %}
                    Input:
                    {{ task.inputData}}
                    | Output:
                    {{ task.outputData }}<br>
                {% endfor %}
            </div>
        </div>
        {% include "task/_upload_solution.html.twig" with { form: form } %}

        {% if app.user %}
            {% include "task/partials/_user_solution_status.html.twig" %}
            <div id="user-data" data-user="{{ app.user.id }}" data-task="{{ task.Id }}"></div>
        {% endif %}

    </div>
{% endblock %}

{% block script %}
    {% if app.user %}
        {{ encore_entry_script_tags('user_solutions') }}
    {% endif %}
{% endblock %}
