{% extends 'base.html.twig' %}

{% block title %}
    Tasks
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div id="task-list">
            <div id="task-list__title">
                <h1>All tasks</h1>
            </div>
            <div id="task-list__tasks">
                <ul>
                    {% for task in tasks %}
                        <li>
                            <a href="{{ path('app_task_single_page', { id: task.id }) }}">{{ task.name }}</a>
                        </li>
                    {% else %}
                        <div>Задания найдены не были</div>
                    {% endfor %}
                    {% if previous >= 0 %}
                        +
                        <a href="{{ path('app_task_list', { page: previous }) }}">Previous</a>
                        +
                    {% endif %}
                    +
                    {% if next < tasks|length %}
                        +
                        <a href="{{ path('app_task_list', { page: next }) }}">Next</a>
                        +
                    {% endif %}
                </ul>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_task_create') }}" class="btn btn-primary">Add Task</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
