{% extends 'base.html.twig' %}

{% block title %}
    Contests
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div id="contest-list">
            <div id="contest-list__title">
                <h1>All contests</h1>
            </div>
            <div id="contest-list__tasks">
                <ul>
                    {% for contest in contests %}
                        <li>
                            <a href="{{ path('app_contest_single_page', { id: contest.id }) }}">{{ contest.name }}</a>
                        </li>
                    {% else %}
                        <div>No contests found</div>
                    {% endfor %}
                    {% if previous >= 0 %}
                        +
                        <a href="{{ path('app_contest_list', { page: previous }) }}">&lt;&lt==</a>
                        +
                    {% endif %}
                    +
                    {% if next < contests|length %}
                        +
                        <a href="{{ path('app_contest_list', { page: next }) }}">==&gt;&gt;</a>
                        +
                    {% endif %}
                </ul>
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_contest_create') }}" class="btn btn-primary">Add Contest</a>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
